html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-flow: column wrap;
  }

  header {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.3rem 1rem 1rem 1.5rem;
  }

  header * {
    font-size: 15px;
  }

  .head_link {
    list-style: none;
    display: inline-flex;
  }

  img[alt="Apps icon"] {
    padding: 0 1rem;
  }

  ul {
    list-style: none;
    display: inline-flex;
  }
  
  li a {
    text-decoration-line: none;
    padding: 0.5rem 1rem;
  }

  a[href="https://example.com"] {
    border-radius: 0.5rem;
    color: white;
    background-color: #1a73e8;
    outline: none;
    text-align: center;
  }

  a[href="https://example.com"]:hover {
    background-color: rebeccapurple;
  }

  .container-body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 11.7rem;
  }

  img[alt="google logo"] {
    width: 15rem;
    height: 5rem;
    margin-bottom: 1.5rem;
  }

  .search {
    display: flex;
    flex-flow: row wrap;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    height: 2.8rem;
  }

  .search img {
    flex: 0.10;
    width: 4em;
    height: 2em;
    padding: 0 1rem 0 1rem;
  }

  .search input {
    outline: none;
    border: none;
    flex: 5;
  }

  .buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  input[type="Submit"] {
    margin: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    outline: none;
    border: none;
    background-color: #f8f9fa;
  }

  input[type="Submit"]:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  label, a[href='/#'] {
    font-size: small;
  }

  footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-top: 24.3rem;
    background-color: #f2f2f2;
  }

  .footer_lower {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: solid 1px;
    border-color: #dadce0;
  }

  .footer_lower * {
    color: rgba(0, 0, 0, 0.54);
  }

  p a {
    text-decoration-line: none;
  }

  .country {
    margin-left: 2rem;
    color: rgba(0, 0, 0, 0.54);
  }
